.weather-info {
  font-size: 2em;
  margin: 1em 0;
}

#temp-value {
  font-size: 1.12em;
}
#fahrenheit {
  content: "\2109";
}

#weather-input {
  border: 1px solid black;
  border-radius: 50px;
  padding: 13px 0 13px 15px;
  text-align: center;
  width: 290px;
}
#weather-input:focus { outline: none; }

#weather-icon { width: 100px; }

.search-container {
  color: grey;
}

a.btn {
  position: relative;
  left: 35px;
}
