.weather-container {
  width: 98%;
  /*background-color: rgba(230, 230, 230, .2);*/
  color: white;
  padding: 2em 0 1em 0;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-family: var(--martel);
}

.weather-info {
  font-size: 1.2em;
}

#temp-value {
  font-size: 1.12em;
}

.temp-info {
  margin-right: 4em;
}

#fahrenheit {
  content: "\2109";
}

#weather-input {
  border: 1px solid black;
  border-radius: 50px;
  padding: 13px 0 13px 15px;
  text-align: center;
  width: 290px;
}
#weather-input:focus { outline: none; }

#weather-icon { width: 100px; }

.search-container {
  color: grey;
}

a.btn {
  position: relative;
  left: 35px;
}

.city-name { font-size: 1.3em; }



