:root {
  --martel: 'Martel Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;
}


img { vertical-align: middle }

.hide { display: none; }
.show { display: initial; }
.active { color: black !important; }
.btn { cursor: pointer; }
.text-shadow { text-shadow: 3px 3px black; }