#wallpaper {
  background: url("http://weknowyourdreams.com/images/nature/nature-02.jpg");
  -webkit-background-size: cover;
      -ms-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
 background-repeat: no-repeat;
 background-position: "center center";
 background-attachment: "fixed";
}